<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <% include head %>
</head>
<body class="container">

    <main>
        <div class="jumbotron" style="margin-top: 30%;">
            <center>
                <h1><%= title %></h1>
                <p>Bem Vindo ao <%= title %></p>
            </center>
        </div>
    </main>
	
    <% include footer %>
    
</body>
</html>